body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to left, #68af7a, #0a5322);
}

h1 {
  text-align: center;
  margin-top: 30px;
}

p {
  margin: 20px;
  text-align: center;
}

label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 10px;
}

input[type="text"] {
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #050805;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

#total {
  font-weight: bold;
  margin-top: 20px;
}